<h2>Your name: </h2><br/>
<h1><%= @user.name %></h1><br/>

<h2>Your email address: </h2><br/>
<h1><%= @user.email %></h1><br/>

<h2>Your account was confirmed: </h2><br/>
<h1><%= @user.confirmed_at %></h1>