<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
<div class="media-body">
  <div class="row">
    <div class="col-md-7"><%= item.name %>
      <%= link_to "", [user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
      <div class="row">
        <div class="col-md-8">
      <small>
        <h6><%= item.days_left %> day(s) left before destruction</h6>
      </small>        
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>